[2014-04-26 15:58] lexoyo opened #10 "tests fail"
For a while now, automatic tests fail
https://travis-ci.org/silexlabs/unifile

And we should have a precommit hook to avoid pushing code which fails the tests

[2014-06-01 23:00] lexoyo opened #11 "FTP service returns "." and ".." folders..."
FTP service returns "." and ".." folders...
This comes from this issue of Cloud Explorer
https://github.com/silexlabs/cloud-explorer/issues/30
cc @zabojad

[2014-06-02 10:19] #11 closed, assigned to nobody

[2014-06-05 08:39] lexoyo opened #12 "debug"
Use this lib which looks cool
https://github.com/visionmedia/debug

[2014-06-11 13:11] zabojad opened #14 "Issue with logout"
I think I've spotted some issue with logging out from services:

Here is a network call snapshot from my web browser:

[code]

The problem here is that we expect the call to services/list to return the services with LoggedIn set to false. And it appears to be true for Dropbox... The last ls call should return 401 forbidden. It seems logging out from DB did not succeed whereas it returned true...

[2014-07-01 06:20] zabojad opened #17 "Skin www srv auth page"

[2014-08-18 05:44] #10 closed, assigned to nobody

[2014-09-19 08:52] lexoyo opened #21 ":'("
http://www.unifile.co.za/

[2014-12-21 23:30] ikocev opened #24 "Error loading service services [TypeError: Cannot read property 'dropbox_access _token' of undefined]"
I got this error when I click on "Pick" button. The loading popup screen shows up and nothings happens. This is from the console:

Error loading service services [TypeError: Cannot read property 'dropbox_access _token' of undefined] TypeError: Cannot read property 'dropbox_access_token' of undefined

How can we change the dropbox access token?

[2015-03-21 09:40] #24 closed

[2015-08-28 00:01] Analogreality opened #26 "Idempotency?"
GET    /api/v1.0/dropbox/exec/rm/path/to/folder-or-file/         remove a file or directory

Is this okay?

[2015-08-28 06:11] lexoyo commented on #26
Yes it is

[2015-08-28 06:15] lexoyo commented on #26
But I think that it is not idempotent because the second time you call it, it will tell you that the file does not exist anymore

[2015-10-22 09:30] KrishnaPG commented on #26
Usually requests that modify the resources (such as create, delete, update...) are better kept for POST. It is conventional for users to expect GET requests to be read-only.

[2015-10-22 09:35] KrishnaPG opened #28 "License"
Could you please reconsider the license?

MIT, BSD or Apahce 2 would be more apt for this. I see Cloud Explorer (which is using this) is already using MIT.

[2015-10-22 16:31] lexoyo commented on #28
Hello @KrishnaPG
Yes you are right, for this kind of "lib", MIT is better.
And I see in package.json that it is MIT... So it is fixed now :+1:
https://github.com/silexlabs/unifile/blob/master/readme.md#license

[2015-10-22 16:34] lexoyo commented on #26
Yes you are right we should change that

[2015-10-22 20:12] Analogreality commented on #26
I don't mean to pick fleas off your project.. Just pointing out a concern.
Awesome project BTW.
On Oct 22, 2015 12:34 PM, "Alex Hoyau" <notifications@github.com> wrote:

[2015-10-22 20:26] lexoyo commented on #26
:+1:
we should definitely go for a v1 soon if there we more developers involved

[2015-10-23 03:25] KrishnaPG commented on #28
Thank you @lexoyo

This is good work and you guys are doing great job. Now with officially dubbed as MIT-licensed, I will see what I can do to promote this. This certainly deserves better attention.

[2015-10-23 03:25] #28 closed

[2015-10-23 14:14] lexoyo commented on #28
:+1:

[2015-10-23 14:54] KrishnaPG opened #29 "path missing / in the default config after __dirname"
Not really major problem, but came across this and thought of notifying it:

In the `lib/default-config.js` file
*    on two lines, the path is missing the start "/" after `__dirname + ` (since __dirname does not end with `/` it is causing the paths such as `/lib../`).

![image](https://cloud.githubusercontent.com/assets/4610831/10695823/64f3b3b6-79c3-11e5-8060-4c90d29a6f02.png)

*    At [line 31]

[2015-10-23 16:20] KrishnaPG commented on #29
Looks like functionality is not affected by the lack of `/` though.

[2015-10-23 19:16] lexoyo commented on #29
oh this is strange
i'll take care of this just in case

[2015-10-24 08:34] KrishnaPG opened #30 "auth templates"
The current `www-auth` template has problems rendering nicely on different screen sizes. The below screenshot presents the problem (when loading it on the fly inside a modal popup in bootstrap).

![image](https://cloud.githubusercontent.com/assets/4610831/10709700/fa53ebd2-7a55-11e5-9c77-a597fc6d22d6.png)

The `login.css` has few hardcoded styles (such as width, margin etc.) that I modified as bel

[2015-10-24 16:25] lexoyo commented on #30
That's great thank you
You should make a pull request to contribute, do you want me to explain how to do it?

[2015-10-24 16:26] #21 closed

[2015-10-24 16:27] #17 closed

[2015-10-25 03:13] KrishnaPG commented on #30
Thanks @lexoyo . Created this PR https://github.com/silexlabs/unifile/pull/31

[2015-10-25 04:09] lexoyo commented on #30
Merged! Good job mate :)

[2015-10-25 04:10] #30 closed

[2015-10-26 05:07] KrishnaPG opened #32 "Graceful error handling while ls"
For the `www` service, if any directory entry has permission issue, `ls` is failing completely, throwing below style of error, instead of gracefully handling it and moving on.
[code]
In many scenarios the permission issues are very common and a simple `ls` should be capable of ignoring such errors and move ahead with rest of the list (instead of bailing out completely, causing 500 error in the ser

[2015-10-26 07:59] KrishnaPG commented on #32
Another point worth noting is the caching behavior with `www`. Presently `ETag support` is already monitoring the `ls` results and server is issuing a 304 correctly !!

![image](https://cloud.githubusercontent.com/assets/4610831/10723349/0d5e9412-7be0-11e5-9fe3-ebafad3e72c6.png)

However, at the ground level the computation (the actual retrieval of the directory content and creating the json etc.)

[2015-10-26 08:39] KrishnaPG opened #33 "Multi-tenancy"
What is the best way to implement multi-tenancy with this package?

For example, for the `www`, I would like to have `user x`, mapped to `data/x` as the root folder and `user y` mapped to, say `data/y`, as the root www folder.

This should happen upon successful login (automatically), so that `ls /` for user x gives contents of folder `data/x` and for user y gives contents of `data/y`.

Is it poss

[2015-10-26 09:04] KrishnaPG commented on #33
One way I can see is: There is this `path resolution` that is [happening](https://github.com/silexlabs/unifile/blob/master/lib/services/www.js#L205) in every method. It could be a good place to have the multi-tenancy redirectors.

For example, the `multitenancy` options could be supported as a `configurable option`, so that users can use this in either single-user mode or multi-user mode. When ena

[2015-10-28 20:41] lexoyo commented on #32
+1

[2015-10-28 20:42] lexoyo commented on #32
your starting to define what the a v1 should be, I like this

[2015-10-28 20:46] lexoyo commented on #33
I believe it is close to a test I did some time ago, see this branch
https://github.com/silexlabs/unifile/tree/open-pages

The user logs in with mozilla's persona auth system and then defines a name for his "folder" which is stored in a sqlight table. For example I can login as lexoyo@zzzzzz.com, and set my folder name to lexoyo, then I will have access to a folder accessible at http://myunifilese

[2015-10-29 00:44] KrishnaPG commented on #33
Yes, that is also another possibility. To have a full-blown ACL system, like the one you mentioned `persona auth`, and then be able to have explicit folder names in the path which are accessible only to the right persons.

I looked at the `open-pages` branch and yes it looks on the same lines as I was mentioning above (except I was referring to 'implicit' personal folders that are auto-magically c

[2015-10-29 09:10] KrishnaPG commented on #32
Created PR https://github.com/silexlabs/unifile/pull/34 that implements graceful error handling for few "ignorable errors" while doing ls() and also primitive 304 ETag support for ls().

Now `ls()` (for www) does not waste CPU / Disk cycles on recomputing the folder structure for already visited (and unmodified) folders. Any modifications, as usual lead to a full 200 response

![image](https://clo

[2015-10-31 01:32] #32 closed

[2015-10-31 20:41] lexoyo commented on #33
@KrishnaPG I have finished my work on open pages, and I merged it on master
It is disabled by default, here is how to enable it
https://github.com/silexlabs/unifile/blob/master/samples/simple-api-server.js#L23

[2015-11-03 02:29] KrishnaPG commented on #33
Thanks @lexoyo Will pull the latest and try it.

[2015-11-12 06:15] KrishnaPG commented on #33
Tried it today after enabling the `options.openPages.ENABLED` option as suggested. Realized that the auth-url also has to be explicitly changed from `www-auth` to `open-pages-auth` to use this correctly.

I liked the way the `unifile` handled the service listing automatically. Is there a way that the `auth listing` can also be handled similar to that? That is, `unifile` will have a single fixed lo

[2015-11-12 10:45] lexoyo commented on #33
The auth url is in the response when you call connect. In the case of the FTP/DB/OP it is different

This is a very interesting idea... Only the "simple login form" I do not see what it would be, since the goal is to let a service handle the hosting of the user's files

Can you make a pull request again?

[2015-11-12 12:55] KrishnaPG commented on #33
Yes, `connect` - I forgot about that (and wasn't using it, since it didn't really do much). You are right, it is indeed giving the auth url.

But I guess the caller has to already make a decision as to which service he has to use by the time he calls connect (since it is `www/connect` or `open-pages/connect/`), and I was thinking `open-pages` is just auth mechanism and not a full-blow storage syst

[2015-11-12 16:05] lexoyo commented on #33
yes it is indeed: it uses mozilla persona for auth and then creates a folder per user, into which the user can navigate with unifile

[2015-11-20 21:21] JbIPS commented on #26
To be picky, there is a HTTP verb for deletion: DELETE

[2015-11-21 12:40] lexoyo opened #35 "Github support in unifile"
The goal is to offer a new service in unifile, to use github to store your files. The advantages are
* free (max size of a repository is 1GB, no limit in the number of repos)
* everything is versioned with git
* one can use it to publish on [github pages](https://pages.github.com/) (which is great quality hosting and free by github themselves)

I have tested the github API, which is quite simple t

[2015-11-21 13:22] lexoyo opened #36 "Unifile next steps"
@KrishnaPG got me thinking about the next version of unifile

Here is what I think we should do
- Refactor the API: no more config but option of the API, and the API which could be used in nodejs or with the command line cli or with HTTP calls as it is today
- Make the HTTP API better: use GET, POST, UPDATE, DELETE...
- Better doc and a website
- Coding style refactoring: Everything should be clea

[2015-11-21 15:45] JbIPS commented on #36
I suggest using ESLint to ensure the code style throughout the repository. And I had some docs on good REST API, I'll post them here as soon as I find them.

[2015-11-21 15:51] JbIPS commented on #35
I'm 100% pro user freedom, but I think making him choose between branch is too much. Only one branch is deployable, this is the only one that should be used.
This means the user log in, choose a repo on his account and the root of gh-pages is shown. This branch is created from master if non-existent.
This should fix your issues and be more intuitive for the user, shouldn't it?

[2015-11-21 16:16] lexoyo commented on #35
Interesting

With other static website generators, people often use master as a working branch, with only source (not published site) and then deploy to gh pages

But I am not against using only gh-pages if it is easier for the user

Yes it does, there is still the need to be able to navigate between repos, even when already logged in

[2015-11-21 20:48] lexoyo commented on #35
cc @silexlabs/silex

[2015-11-23 23:05] JbIPS commented on #36
I'm actually reading this a lot: https://developer.github.com/v3/. It's a very well structured API and documentation. This could be an example.

And just to be sure, every service will now be a prototype, right?

[2015-11-24 01:25] lexoyo commented on #36
yes right!

what do you mean exactly?

[2015-12-09 16:16] JbIPS commented on #29
I think we can go a litter farther and use the recommended [`path.join()`](https://nodejs.org/docs/latest-v0.10.x/api/path.html#path_path_join_path1_path2) so it will take care of that AND be Windows compatible :wink:

[2015-12-09 16:33] #29 closed

[2015-12-09 16:39] JbIPS commented on #36
Lately I was thinking about splitting this lib. Unifile would only take care of routes declaration and routing. In addition, services (or connector) would be dependencies, loaded at will and declared like a middleware
[code]
This way, you only embed the connectors you want and creating a new connector doesn't imply any modification on Unifile (= don't publish a new version any time a connector cha

[2015-12-09 23:07] lexoyo opened #40 "Security issue"
A github and a dropbox apps are used to authorize access to github and dropbox. They have secret and public keys hard coded in [default-config.js](https://github.com/silexlabs/unifile/blob/master/lib/default-config.js).

We should probably not put this config data there, and force the developer who hosts an instance of unifile to provide his own keys, either in a config.js file, or in env vars.

[2015-12-09 23:13] lexoyo commented on #36
Wow that's a great idea, like they did with connect body-parser etc.

[2015-12-09 23:13] lexoyo commented on #36
:+1:

[2015-12-10 08:58] JbIPS commented on #40
Good thinking. Here's an example of how I did it with a Twitter integration: https://github.com/JbIPS/Huddy#how-to-run-it.

We could pass the user's config to a Unifile constructor which validate the presence of mandatory fields before instantiate a service. Of course this config could be dispatched to the proper connector if we rethink the app in a connector way.

[2015-12-12 16:54] #35 closed

[2015-12-12 17:52] lexoyo opened #41 "Github service in Cloud Explorer"
As you may know [Cloud Explorer](http://cloud-explorer.org/) is a web client to use unifile backend

Cloud Explorer has a bug when using the new unifile service "github" by @JbIPS, user has to refresh window after login to access his github content.

I believe the bug occures because [here in the source code of cloud explorer](https://github.com/silexlabs/cloud-explorer/blob/master/src/ce/core/Con

[2016-01-17 02:36] KrishnaPG commented on #36
Also, may be some of these connectors can be reused from [Browser-FS](https://github.com/jvilk/BrowserFS). Especially the `ZipFS`, `WorkerFS` and `FolderAdapter` types of extensions are valuable in different contexts.

[2016-01-18 09:11] lexoyo commented on #36
:+1: nice project!
And the idea of using nodejs API is a very good one !

[2016-01-18 17:55] JbIPS commented on #41
This was a CE bug and the PR solving it has been merged

[2016-01-18 17:56] #41 closed

[2016-01-30 12:29] lexoyo commented on #36
@JbIPS I have looked at your branch and the sample here
https://github.com/JbIPS/unifile/blob/refacto-api/samples/simple-api-server.js

[Concerning this part of the API (the commands)](https://github.com/JbIPS/unifile/blob/refacto-api/samples/simple-api-server.js#L31)

* This is very nice :+1:
* You did not take the idea of @KrishnaPG into account and prefered the "promise" version over node nodej

[2016-01-31 18:48] JbIPS commented on #36
I'm not sure what you're referring to. Callback vs Promise? If so, I hate calling 4 functions with callbacks consecutively and that's often the case with Web API.

I thought so after I had to write it numerous time :wink:. Connector or service, I don't really care but connector seemed more explicit to me at the time.

Don't know what you're talking about, the url must be on the wrong line.

I was

[2016-02-02 18:34] pierreozoux opened #44 "Webdav support would be awesome :)"

[2016-02-03 07:10] lexoyo commented on #44
+1

[2016-02-12 20:54] lexoyo opened #45 "tmp folder filled by unifile transfers"
Yesterday Silex was down all day long because the folder `/lamp0/tmp/` was full of temp files

This must be caused by unifile somehow?

[2016-02-12 21:46] lexoyo commented on #45
I found out that `/lamp0/tmp` is nodejs temp folder for file upload. Files should be cleaned up after upload [here](https://github.com/silexlabs/unifile/blob/269f59e5599dfd95c57c868e64228a32e080864b/lib/core/router.js#L124) and [here](https://github.com/silexlabs/unifile/blob/269f59e5599dfd95c57c868e64228a32e080864b/lib/core/router.js#L214)

And I should have used streams :-1:

[2016-02-17 08:50] Sergio-Muriel opened #47 "Unifile server crash after ftp login fail"
When entering wrong credentials on connect to a ftp, the server stop working.

Error received:

[code]

[2016-02-17 09:21] Sergio-Muriel opened #48 "Resume the form data entered by the user when logging with ftp"
When logging on a service with ftp, and an error occured, the message
`Invalid access codes`
is displayed and the form is displayed again, but the data previously entered by the user  are lost, and he has to reenter all the form data.

[2016-02-17 09:55] JbIPS commented on #48
Hello Sergio,

You're right, when the wrong credentials are sent, we just refresh the form with the template https://github.com/silexlabs/unifile/blob/master/lib/templates/login-ftp.jade. I'll check if there is a way to "store" the inputs or not erase them on refresh.

[2016-02-17 13:10] Sergio-Muriel opened #49 "Recursive remove for ftp directories"
the rm function on ftp directories doesn't work: result is a 500 error.

[2016-02-17 13:51] JbIPS commented on #49
Closed by #50

[2016-02-17 13:51] #49 closed

[2016-02-17 20:17] lexoyo commented on #48
is this the same issue as https://github.com/silexlabs/unifile/issues/47 ?

[2016-02-17 20:28] Sergio-Muriel commented on #48
Nop.
This bug is about the data of the form when entering wrong information.

#47 is a crash i have when using wrong credentials

[2016-02-17 22:08] Sergio-Muriel opened #51 "Multi accounts login"
It will be awesome to be able to have a multi-login for the  dropbox/ftp/... services, without having to disconnect/reconnect.

The main problem is that the **/exec/ls/path** like commands does not specifiy the account they are asking, so we cannot know which connected account use.

Maybe with a query parameter?

[2016-02-18 09:04] Sergio-Muriel commented on #47
Cannot reproduce anymore. Sorry about the wrong bug report.

[2016-02-18 09:04] #47 closed

[2016-02-18 09:33] lexoyo commented on #47
:jack_o_lantern: :)

[2016-02-18 10:06] JbIPS commented on #51
This is tricky. I don't think OAuth based services would let us do that. Maybe we can do this for FTP or WebDav (when support comes).

I'm working on a new API for Unifile in my [fork](https://github.com/JbIPS/unifile/tree/refacto-api), maybe we could add it nicely here :smiley:

[2016-02-18 10:07] JbIPS commented on #44
Yes it would! I'll go work on that very soon :wink:

[2016-02-18 10:33] lexoyo commented on #44
:yellow_heart:

[2016-02-18 10:41] Sergio-Muriel commented on #44
'had started the implementation, but i think you will do it faster, as my nodejs skills are not really good:

https://github.com/Sergio-Muriel/unifile/blob/cloud/lib/services/webdav.js
https://github.com/Sergio-Muriel/unifile/blob/cloud/lib/templates/login-webdav.jade
https://github.com/Sergio-Muriel/unifile/blob/cloud/lib/default-config.js

https://github.com/Sergio-Muriel/unifile/tree/cloud

[2016-02-18 11:54] lexoyo commented on #44
Woohoo!!! :boom:
Can't wai't to test it soon with owncloud :dancer:

[2016-02-18 15:28] JbIPS commented on #44
This looks promising @Sergio-Muriel ! Since you started it, you should continue on your way and I can help you with the Node.js tips and tricks :wink:

To begin with, your [Dav](https://github.com/Sergio-Muriel/unifile/blob/cloud/lib/services/webdav.js#L18) object looks good but it will be better with prototypes. You can check [node-dav](https://github.com/Sergio-Muriel/node-dav/blob/master/lib/da

[2016-02-18 16:03] pierreozoux commented on #44
If you need ownCloud instance for testing, let me know :)

On 18-02-2016 15:28, Jean-Baptiste Richardet wrote:

--
I use PGP to protect our privacy, if you want to know more, you can
follow this
https://emailselfdefense.fsf.org/en/

If you have further questions, please do not hesitate to ask.
You can verify my public key here: https://keybase.io/pierreozoux

[2016-02-18 17:06] Sergio-Muriel commented on #44
I just added the needed methods for the implementations.
It is based on the ftp service.

The "get" method is not very good. Getting the data to a "tmp file", the streaming it?

[2016-02-22 10:07] Sergio-Muriel commented on #48
Fixed on master

[2016-02-22 10:07] #48 closed

[2016-02-22 19:46] lexoyo opened #54 "github service, callback with localhost"
Hello

Here is what happens with the github service online (silex preprod)
http://preprod.silex.me/api/v1.0/github/connect/

Follow the auth url and you will see that the callback is hard coded :deciduous_tree:

[2016-02-22 19:50] lexoyo commented on #54
also with localhost, the callback is `http://localhost:6805/oauth-callback?code=8cf757486243e652dc4c` which gives me
[code]

[2016-02-25 14:24] JbIPS commented on #54
We can't give any callback URL to GH OAuth so Silex will need its own GH application for production

[2016-02-25 14:24] #54 closed

[2016-02-25 14:25] JbIPS commented on #44
Closed by #53 thank you @Sergio-Muriel !

[2016-02-25 14:25] #44 closed

[2016-02-25 14:28] JbIPS commented on #36
Do you think we should use the same API as `fs` module? Like `unifile.createReadStream()`?

[2016-02-25 14:30] JbIPS commented on #26
Old issue, but it will be taken into account for next version :wink:

[2016-02-25 14:30] #26 closed

[2016-02-25 14:32] JbIPS commented on #51
I think this issue is a duplicate for #33

[2016-02-25 14:32] #51 closed

[2016-02-25 14:40] lexoyo commented on #36
+1 to replicate fs API

Maybe something like
[code]

[2016-02-25 15:44] pierreozoux commented on #44
\o/ woo, I can't wait to test!

[2016-02-25 17:13] lexoyo commented on #44
please don't wait ! here is a test http://silex-editor.herokuapp.com/

[2016-02-25 17:59] pierreozoux commented on #44
I'm amazed :)

Really good!

IndieHosters will announce support soon :)

On 25-02-2016 17:13, Alex Hoyau wrote:

--
I use PGP to protect our privacy, if you want to know more, you can
follow this
https://emailselfdefense.fsf.org/en/

If you have further questions, please do not hesitate to ask.
You can verify my public key here: https://keybase.io/pierreozoux

[2016-02-26 13:43] singchan commented on #44
Hi

I'm integrating this into [Cloud Explorer](https://github.com/silexlabs/cloud-explorer)

For that I need 2 logos for webdav, one 52x52 and  one 110x100

Should we take the logo of owncloud?

[2016-02-26 15:11] pierreozoux commented on #44
What about http://fontawesome.io/icon/cloud-upload/ ?

On 26-02-2016 13:43, singchan wrote:

--
I use PGP to protect our privacy, if you want to know more, you can
follow this
https://emailselfdefense.fsf.org/en/

If you have further questions, please do not hesitate to ask.
You can verify my public key here: https://keybase.io/pierreozoux

[2016-02-26 15:33] JbIPS commented on #44
It's a bit generic and very close to [Cloud Explorer](http://cloud-explorer.org/) logo. I'm afraid this could be confusing.

But maybe just writing WebDav in it would be enough.

[2016-02-26 15:38] pierreozoux commented on #44
Yes, because people might use Cozy/dropbox whatever, so ownCloud would
be misleading

On 26-02-2016 15:33, Jean-Baptiste Richardet wrote:

--
I use PGP to protect our privacy, if you want to know more, you can
follow this
https://emailselfdefense.fsf.org/en/

If you have further questions, please do not hesitate to ask.
You can verify my public key here: https://keybase.io/pierreozoux

[2016-02-26 15:43] JbIPS commented on #44
Actually CozyCloud won't work because they doesn't support WebDav sync :/
--
Jean-Baptiste Richardet

On February 26, 2016 4:38:52 PM GMT+01:00, Pierre Ozoux <notifications@github.com> wrote:

[2016-02-26 16:57] singchan commented on #44
not sure i understood, but i did this with @lexoyo  :)

![screenshot from 2016-02-26 17-52-23](https://cloud.githubusercontent.com/assets/6483546/13358897/d36a4a02-dcb1-11e5-89bb-34b3a7124c08.png)

![screenshot from 2016-02-26 17-51-49](https://cloud.githubusercontent.com/assets/6483546/13358898/d36ac0ea-dcb1-11e5-8cba-9fd508d8d052.png)

Code: https://github.com/silexlabs/cloud-explorer/commit/069

[2016-02-26 17:01] lexoyo commented on #44
@budislav may help on the icons :)
[This is where you can change the icons](https://github.com/silexlabs/cloud-explorer/tree/master/app/images/default)
Please keep the image sizes
Note that you do not need to use git since github now supports image upload

[2016-02-27 09:36] budislav commented on #44
Done :)

I didn't made just new icons, I also re-organised this cloud browser. This mean less steps to login into an account and no warning message popups. Everything can fit into one window, so it does not behave like some trojan virus. Is this possible for mozilla persona and dropbox accounts?

Open images for pixel perfect look
![choose_service-01](https://cloud.githubusercontent.com/assets/361

[2016-02-27 10:38] JbIPS commented on #44
Love it! :heart_eyes:

[2016-02-27 11:09] lexoyo commented on #44
Wow you really want us to get to work :))
Great designs :+1:

[2016-02-27 12:14] pierreozoux commented on #44
Yes love it! \o/

[2016-02-27 13:38] budislav commented on #44
Thank you all! :)

Just slowly but surely :)

[2016-02-29 11:25] zabojad commented on #44
Hey @budislav ! Great design indeed ! Would you agree to contribute it to [Cloud Explorer](https://github.com/silexlabs/cloud-explorer) ?

The best way would probably be to share it with us with a tool like [Zeplin](http://www.zeplin.io)...

What do you think?

[2016-02-29 23:28] budislav commented on #44
Hi @zabojad ! Off course I agree 100%. For zepelin I don't know why I need this but can't try it because I am not using Mac. I have .svg files, this is all vector art.

[2016-03-01 09:16] zabojad commented on #44
Hey @budislav ! Zeplin is just a plugin for sketch (do you use sketch ?) to export a design for integration. I don't think you need to be on Mac to use it... It's a very efficient way to share a design with an integrator... I wouldn't have to open any Photoshop or equivalent tool (that I struggle using) to get color codes and font sizes, etc... Maybe there is an equivalent to Zeplin for Adobe tool

[2016-03-01 09:45] budislav commented on #44
@zabojad Sketch is only available for Mac users and I have PC so I can't use Zepelin. I used Adobe Illustrator but I can export as .svg file so ou can open it in open source alternative like Inkscape. Unfortunately there is no something like Sketch for Windows. Adobe is preparing something they call project comet http://landing.adobe.com/en/na/products/creative-cloud/comet/229818-notifyme.html but

[2016-03-01 12:19] lexoyo commented on #44
+1 to not use proprietary software, +2 for not adobe ;)

[2016-03-02 11:58] budislav commented on #44
@lexoyo you forgot +1 for not Mac :)
@zabojad used fonts are Open Sans (bold, regular, light)

[Silex.zip](https://github.com/silexlabs/unifile/files/154694/Silex.zip)

[2016-03-21 23:36] singchan opened #57 "an issue with github service"
I use github service
I saved a website many times and published many times
It made a repo with so many commits github refuses to save
I squashed these commits and now I am able to save again :'(

[2016-03-23 00:56] JbIPS commented on #57
The problem is that, for now, CloudExplorer create a commit for each modified file.
I'm working on a new version that will enable batch modifications. This way, saving and publishing will only be a commit each. This will greatly help your issue :smile:
--
Jean-Baptiste Richardet

On March 22, 2016 12:36:38 AM GMT+01:00, singchan <notifications@github.com> wrote:

[2016-03-25 21:37] kantoche opened #58 "remoteStorage protocol consideration"
Do you plan the use of an open protocol like RemoteStorage?
https://remotestorage.io/

[2016-03-26 00:08] JbIPS commented on #58
I didn't know about this protocol. At first sight, it looks like it's doing the same thing than unfifile: getting remote cloud storage under the same API. If it is, I don't see the point. If it's not, we'll need to clarify how we can make it work and try it!

Thank you for the idea

[2016-03-26 12:01] lexoyo commented on #58
I feel like it is more of a specification than an implementation. The website is not very clear

[2016-03-30 07:57] KrishnaPG commented on #33
Looks like Mozilla is shutting down Persona / Open-pages.

Ref: https://developer.mozilla.org/en-US/Persona

[2016-03-30 09:33] lexoyo commented on #33
Thank you very much @KrishnaPG for the info
This is bad news for the web / privacy / decentralization :(
I will remove open pages then...

The point of open pages was to address the use case of Indie Hosters (@pierreozoux) and templamatic, who are willing to host websites and/or templates made with Silex, and wish their users could publish content with their account on their plateforms

Webdav may

[2016-03-30 09:36] lexoyo commented on #58
Remote storage is linking to @pierreozoux Indie Hoster website here
https://wiki.remotestorage.io/Servers

Pierre, do you know what is remoteStorage? A project, a service, a specification?

[2016-03-30 15:35] KrishnaPG commented on #33
Agreed about decentralization.

From the storage perspective I too was in the need of reliable options, and the best one that I am actively exploring is [IPFS](https://github.com/ipfs/ipfs).

Wondering how difficult/easy it would be integrate IPFS with Unifine (or such integration even make sense?)

Other similar one is [LAFS](https://www.tahoe-lafs.org/trac/tahoe-lafs).

[2016-03-30 16:19] JbIPS commented on #33
Interesting project! The API seems somewhat standard so it shouldn't be too difficult to create a service for it. But I would wait a bit to see how the js impletmentation matures.

[2016-03-31 12:07] pierreozoux commented on #58
So ;)

I think I already mentioned it somewhere in one of our discussion.

First there was [unhosted](http://unhosted.org/), it is a philosophy to develop webapp to fix the problem of the app embedding the data backend for the user. In the "unhosted" context, the user is free to choose is backend for his data.
This is the "philosophie".

As part of their work, they wrote an RFC to specify a protoc

[2016-04-04 08:45] JbIPS commented on #36
Hi guys,

I did some work on my [branch](https://github.com/JbIPS/unifile/tree/refacto-api) to rework the API and use all of the precious inputs in this issue.

Could you take a look at this and give me feedback to ensure we're heading in the right direction? You can find a usage example [here](https://github.com/JbIPS/unifile/blob/refacto-api/samples/simple-api-server.js) and an implementation of

[2016-04-15 12:36] Sayankhan opened #60 "rename file into unifile for github"
I tryed to rename a file from my github repo github page into unifile, it didn't succeed

[2016-04-16 15:31] lexoyo commented on #60
hi @Sayankhan
this is supposed to work
we will need more details, like which browser, the names and paths of the files

[2016-07-02 12:31] lexoyo opened #62 "test of unifile 1.0.0"
@JbIPS great work on the 1.0.0 version of unifile
https://github.com/JbIPS/unifile/tree/1.0.0

When I do this I have errors like these

[code]

Are the tests up to date, did I miss something? I have node v6.2.2...

Also I tried

[code]

Then I open `http://localhost:6805/` and click on "Login", but it opens a popup on `http://localhost:6805/github/oauth-callback?code=a25b7f4b4e268321dcad&state=aaa

[2016-07-02 20:08] JbIPS commented on #62
I forgot the tests along the development line :smile:, I'll update them soon.

The 404 error is weird, I'll have a look.

Finally, if you wanna try the CLI, you can play with [Unifile-CLI](https://github.com/silexlabs/unifile-cli). Have fun!

[2016-07-07 17:54] lexoyo commented on #62
bump
I am starting to develop a front end... I need an example of the json output

[2016-07-08 07:53] JbIPS commented on #60
Did you reproduce this error? If so, give us more details please. If not, I'll close this issue.

Thank you

[2016-07-08 07:58] JbIPS commented on #33
Hello @KrishnaPG! We're on our way to publish the [v1.0.0](https://github.com/silexlabs/unifile/tree/1.0.0) of Unifile. The API and organization is much more clearer now so maybe you want to take a go on implementing IPFS or LAFS?

This will be a great feedback for me with someone else creating backend :smiley:! Thank you

[2016-07-08 08:09] JbIPS commented on #62
The file representation for now is:
[code]
Reading a folder will return an Array of file.

BTW, what do you think of this structure? I kept it from previous version but I'm not sure it's enough/accurate. For example, I dislike underscore in variables names so I'll surely change it to `isDir`.

[2016-07-08 08:27] JbIPS commented on #62
Alright, I fixed the units test and try to reproduce your sample error but it works well with the latest version. Could you give it another try and tell me if you still have this error? Thanks

[2016-07-08 08:44] KrishnaPG commented on #33
Glad to hear about v1.

Regarding the IPFS, currently I am slightly under the weather. Will let you know once there is any progress on that. Thank you.

[2016-07-08 08:50] JbIPS commented on #33
No rush, you can try that anytime you want. Since the connectors are now independent, you don't even need to do a PR, you can create your own repo and use it

[2016-07-15 23:19] lexoyo commented on #62
unit tests are fixed :+1:

the error I had was because the default app on GitHub is redirecting to localhost:6805 and I was using a different port :+1:

I plugged my prototype of cloud explorer on the new unifile, and `ls` works fine
https://github.com/lexoyo/CloudExplorer2/tree/with_unifile_API

It is on a branch for now until I have tested it more

This is really good! It could be even better wi

[2016-07-17 02:33] KrishnaPG commented on #58
Was going through the remotestorage and 5apps sites. Looks interesting, but not clear: how is it different from, say DropBox or similar?

Any app that has DropBox capability can utilize the user-specified dropbox storage as its storage. What is remotestroage doing different?

[2016-07-18 08:17] JbIPS commented on #58
I think this the 'Standard and Free' version of Dropbox and not linked to a service.

[2016-07-19 17:43] JbIPS commented on #58
Just to let you know I'm currently playing with RemoteStorage (I'm glad to accept your hosting offer @pierreozoux :smile: ).

I'm having a hard time with module definition so if you have any experience with it, it's very welcome!

[2016-07-24 03:44] KrishnaPG opened #64 "npm version"
npm is listing 0.0.60 as the latest version, but the git (here) is showing 0.0.59
![image](https://cloud.githubusercontent.com/assets/4610831/17081663/e7af26e4-517e-11e6-8e72-1cca13b5d85b.png)

[2016-07-24 04:16] KrishnaPG commented on #64
Not sure what is happening, but the version on the git ([here](https://github.com/silexlabs/unifile/blob/master/lib/templates/login.css#L51)) is showing correct css file (sometime back I merged to correct the [responsive sizing](https://github.com/silexlabs/unifile/pull/59) issue of login page)
But from NPM, both 0.0.60, 0.0.59 are both having the same old login.css code without the corrections.

[2016-08-25 19:54] lexoyo opened #65 "Default app keys"
I think we should provide app keys by default for Dropbox and Github, but I am not sure that this is possible because sometimes the app will have the port and callbacks...

Otherwise a doc about where to get it and how to set it up with unifile would be helpful.

[2016-08-25 20:04] JbIPS commented on #65
The GitHub application has to provide a callback URL and cannot be overridden so we'll have to set `http://localhost:6805`. But I think that the best solution is indeed a documentation on how to setup your own application per target (maybe on the Readme of each repository if we split the targets).

[2016-08-25 20:38] singchan opened #66 "Batch file handling"
Is it possible to remove several files at once? Is it interesting to have such a mechanism?

[2016-08-30 17:15] singchan opened #67 "mv problem"
Hi,
I think I have a bug with unifile (1.0.0) and the github connector
I make this request to rename a file and it fails (I have cleanedup the request a bit):

[code]

The problem seems to be that `getPathTokens` receives an undefined path here
https://github.com/JbIPS/unifile/blob/1.0.0/lib/unifile-github.js#L17

PS: the fork of @JbIPS seems different from the one of silexlabs

[2016-08-30 18:32] JbIPS commented on #67
Does it work with my fork?
--
Jean-Baptiste Richardet

[2016-08-31 08:44] lexoyo commented on #67
No :(

[2016-08-31 08:44] singchan commented on #67
no :(

[2016-08-31 16:55] singchan commented on #67
the error on the server
[code]

[2016-08-31 17:05] JbIPS commented on #67
Could you add a `Content-Type: application/json` and a `Content-length: $LENGTH` headers to your request and try again?

[2016-08-31 17:12] singchan commented on #67
Wow that was it!!! :dolphin:
[code]
Thanks!
The `Content-length` header was throwing an error in the browser (unsecure header)  so I removed it.. Just the content type makes it work :trophy:

[2016-08-31 17:43] singchan commented on #67
I have the same problem for upload
What mimetype should I use? I tried `Content-Type:application/octet-stream`

[2016-08-31 17:52] JbIPS commented on #67
Actually it depends on your server implementation. If you took the unifile sample server, everything is in json
--
Jean-Baptiste Richardet

[2016-09-01 09:28] singchan commented on #67
Ok, this is what i did and it works :)

Server:
[code]
Client:
[code]

[2016-09-06 08:00] #67 closed

[2016-09-06 08:00] #60 closed

[2016-09-06 08:05] JbIPS commented on #58
I forgot to let you know about my recent success with RemoteStorage :smile:. The official npm connector is not suitable for Node.js so I had to start it from scratch but it work! I'll soon make a PR on the v1.0.0 branch. Thank you @pierreozoux for the test server!

[2016-09-06 08:07] JbIPS commented on #64
Hello @KrishnaPG !

Sorry for the NPM mess, we'll soon fix that with the publication of the v1.0.0 version :wink:

[2016-09-15 12:03] JbIPS commented on #66
It is interesting, specially on services that support such operation (like GitHub), but we could *simulate* this behavior on other services by making multiple requests under the table.

FYI, this feature will be packed in v1.0 :wink:

[2016-09-15 12:46] singchan commented on #66
:dancers:

[2016-09-15 16:31] lexoyo opened #72 "random oauth states"
As a user I should not have to provide a `state` to unifile connectors as it is more secure that you generate it

[2016-09-16 16:03] JbIPS commented on #58
This is now on v1.0.0!

[2016-09-16 16:03] #58 closed

[2016-09-16 16:26] JbIPS opened #74 "WebDAV for 1.0.0"
We're very close to the [1.0.0 release](https://github.com/silexlabs/unifile/tree/1.0.0) but for now the only available connectors are:
- FTP
- RemoteStorage
- Dropbox
- GitHub

I'd really love if someone would port the WebDAV (looking at you @Sergio-Muriel :wink:) to the new version so I would have a valuable feedback from this person.

[2016-09-16 20:52] pierreozoux commented on #58
you mean I can use RS as a data backend? \o/ Can youping when available on prod?

[2016-09-16 22:33] JbIPS commented on #58
Yes you can :smile:! And I'm sure you'll know when v1 hits npm. As for Silex integration, I'll leave @lexoyo tell you

[2016-09-22 09:12] JbIPS opened #75 "SSH consideration"
What do you think about have a SSH connector? A lot of Node.js already implemented SSH client and this would mean a lot of newly available servers for Unifile users :smiley:

[2016-09-22 20:47] lexoyo commented on #75
Good idea!! This would make cli possible
It is a bit like webdav server right?

[2016-09-26 12:14] JbIPS commented on #75
It's a bit like WebDav, but more secured. That's precisely what would be the main diffucilty IMO: how will we create the session ? Key, password, other?

[2016-09-26 12:25] lexoyo commented on #75
hmm ok
maybe with env vars
the main advantage I see with webdav is that it can be added to the file browsers and used like a local drive

[2016-10-13 20:39] lexoyo opened #76 "rclone"
[rclone](http://rclone.org/) looks like an open source competitor of unifile. It is interesting to me ang [the supported services](http://rclone.org/docs/) can give us ideas. Maybe the code too?

[2016-10-13 20:40] lexoyo commented on #76
[this doc](http://rclone.org/dropbox/) will give you a good idea of how it works

[2016-10-28 22:05] lexoyo commented on #76
a use case covered by rclone is to move big amount of data from one cloud to another with the command line

could it be done with unifile?

[2016-10-28 22:09] lexoyo opened #77 "Dropbox specific way to list root folder"
I have an error when I try to list "/":

[code]

It comes from dropbox js sdk and it is [discussed here](https://github.com/dropbox/dropbox-sdk-obj-c/issues/32):

Do you think that Unifile should include a workaround? I think so... I can add this myself, just tell me if what you think?

[2016-10-28 23:08] lexoyo opened #78 "Error when I upload a file"
When I upload a file I get this error

[code]

Is [this code](https://github.com/silexlabs/unifile/blob/1.0.0/samples/simple-api-server.js#L93-L101) using unifile api correctly? Because this is what I use...

And here is the request I make

[code]

[2016-10-29 07:33] JbIPS commented on #76
Yes it could, thanks to the stream API. Buy I think what's missing is recursive features to move a whole folder.

[2016-10-29 07:37] JbIPS commented on #77
I think so too. Actually it's already [there](https://github.com/silexlabs/unifile/blob/1.0.0/lib/unifile-dropbox.js#L106), but lack the support of your use case.

But I think you won't have any troubles fixing that :wink:

[2016-10-29 07:47] JbIPS commented on #78
That's weird, it should work... Your code is OK but it's looks like the call to Unifile does not return a Promise. I'll check that soon. Is your code up to date? The stacktrace line doesn't match the code you pointed.

BTW you should clean your request example of your session cookies (even if they're encrypted 😉)

[2016-10-29 08:01] JbIPS commented on #72
Closed by https://github.com/JbIPS/unifile/commit/040696c880f5034d2b943ea7420885b55079662b

[2016-10-29 08:01] #72 closed

[2017-04-03 13:09] #64 closed

[2017-04-03 13:09] #66 closed

[2017-04-03 13:09] #14 closed

[2017-04-03 13:09] #33 closed

[2017-04-03 13:09] #36 closed

[2017-04-03 13:09] #57 closed

[2017-04-03 13:09] #74 closed

[2017-04-26 08:27] JbIPS commented on #78
Should be fixed with newest version

[2017-04-26 08:27] #78 closed

[2017-04-26 08:49] JbIPS commented on #45
Fixed with newest version

[2017-04-26 08:49] #45 closed

[2017-04-26 15:00] JbIPS opened #88 "Add a stat method"
As pointed by @lexoyo, we should add a `.stat()` function that return an object description (same as `.ls()`)

[2017-04-27 13:17] JbIPS commented on #75
Closed by 21a25bf55b5e087fb64224f4d7d140ec51b17421

[2017-04-27 13:17] #75 closed

[2017-05-03 14:12] JbIPS commented on #77
Closed by https://github.com/silexlabs/unifile/commit/722ab9e4ac8fb089ea9495f2f5ee7fd69feba9be

[2017-05-03 14:12] #77 closed

[2017-05-03 14:13] #88 closed

[2017-05-03 14:14] JbIPS commented on #12
I'm not sure this is very useful now. If anyone express the need of this feature, feel free to tell me (and/or do it)

[2017-05-21 22:13] JbIPS opened #90 "Give the user the possibility to change connector infos"
The user should be able to set a different name/description for a given connector (for locale purpose or customization) without redefining the connector completely.

[2017-05-21 22:17] lexoyo commented on #90
I was thinking about this... Would you use inheritance?

In my use case I think I need to override info and also force some parameters values. For example set the host for ftp or at least the default value

[2017-05-22 06:46] JbIPS commented on #90
I was thinking extra options in the connector constructor.

As for default values, there is none but I think you want to set some in the view like the logging form

[2017-05-22 07:01] lexoyo commented on #90
Good ideas!

[2017-05-22 14:12] JbIPS opened #91 "CozyCloud connector"
We should use CozyCloud as a connector.

They have an OAuth flow described [here](https://cozy.github.io/cozy-stack/auth.html#post-authregister).

[2017-05-22 16:34] #90 closed

[2017-05-29 13:08] JbIPS commented on #62
A lot of documentation on connector has been added. Feel free to reopen if you need more.

[2017-05-29 13:08] #62 closed

[2017-06-15 18:29] mudcube commented on #76
There's a package for BrowserFS for rsync'ing. Since BrowserFS shares a similar API to Unifile (both are based on NodeJS) the package might be able to plug into Unifile as well: https://github.com/kruemelo/fs-rsync

[2017-06-15 21:26] JbIPS commented on #65
Github and Dropbox connectors now redirect to the app creation on the respective platforms. Regarding the default app keys, I'll close this in favor of #40

[2017-06-15 21:26] #65 closed

[2017-06-16 07:53] lexoyo commented on #65
Great idea!

[2017-07-11 14:28] #40 closed

[2017-07-11 14:29] JbIPS opened #92 "readFile() should always return a Buffer"
We shouldn't try to guess the encoding of a file. For consistency, we should always return a Buffer, letting the user choose how to deal with it.

[2017-09-16 18:01] lexoyo opened #93 "question about mime types"
hello
thank you so much for the awsome library
when i do this, what is the best way to set the mimetype header? is there a way to access the mimetype header as provided by the third party service?
[code]

[2017-09-18 17:07] JbIPS commented on #93
You can access the MIME type by using the [.stat()](http://projects.silexlabs.org/unifile/Unifile.html#stat) method.

[2017-09-20 23:02] lexoyo commented on #93
Great it works fine, thx
https://github.com/lexoyo/CloudExplorer2/commit/5d3877542c69a91ee8bba74f47cd76c3a10e449f

[2017-09-20 23:02] #93 closed

[2017-09-20 23:07] lexoyo opened #94 "readFile result for binary data"
May be related to #92 : I do a unifile.readFile then fs.writeFile and the new image is changed... Or it may be a problem of encoding?

I do something like this:
[code]
And the images differ:
preview1.jpeg starts with `ÿØÿà^@^PJFIF^@^A^A^A^@H^@H^@^@ÿÛ^@C^@^C^B^B^C^B^B^C^C^C^C^D^C^C^D^E^H^E^E^D^D^E` whereas preview2.jpeg starts with `ýýýý^@^PJFIF^@^A^A^A^@H^@H^@^@ýý^@C^@^C^B^B^C^B^B^C^C^C^C^D^C^C^D^

[2017-09-22 17:22] lexoyo opened #95 "FTP login error"
When there is an authentication error, the FTP service logs something like this in the console `ERROR { Error: Login authentication failed` and returns this in the response:
![screenshot from 2017-09-22 12-18-46](https://user-images.githubusercontent.com/715377/30756461-7346d796-9f90-11e7-8a08-4c4d3d8a7906.png)

1- Do you think we should display an error page, or is the JSON on purpose?
2- Maybe a

[2017-09-22 17:30] JbIPS commented on #95
I think the app should display an "Invalid user/password" type error

That's bad... It sure would be better to **not** have this plain in the open. I'll try to figure something out

[2017-09-22 18:15] lexoyo commented on #95
oh you mean the app calling unifile
yes of course, that's good
so you think of a mechanism to retrieve the error in the callback?

[2017-09-22 18:37] lexoyo opened #96 "linter?"

[2017-09-22 18:38] lexoyo commented on #96
sorry, created the issue before typing text

It looks like the linter let me commit spaces or tabs for indentation?

[2017-09-22 18:41] #96 closed

[2017-09-22 19:16] lexoyo opened #99 "unit tests"
Hello
When I clone the repo and do `npm i` and then `npm test`, I have failing unit tests, some of them because `.should.be.fulfilled` is spelled `.should.be.fulfilled` (ll instead of l) and these other ones:

[code]

Are you aware of this? Any suggestions? I'll keep looking into it

[2017-09-22 19:23] JbIPS commented on #99
Which branch are you on? I'm currently working on `wip-coverage` to fix the tests, maybe you should start from there.

[2017-09-23 17:04] lexoyo commented on #99
done, i rebased on your branch and it works

[2017-09-23 17:04] #99 closed

[2017-09-23 18:11] lexoyo opened #100 "filter on mime type / file extension"
Hello
I guess many services offer to filter by mime type or file extensions
Do you think we should add that to readdir function? Or filter after getting the result is better?

[2017-09-23 18:12] lexoyo opened #101 "pagination"
Hello
I don't see any pagination mechanism in unifile, is it on purpose or on the roadmap?

[2017-09-25 21:45] lexoyo opened #102 "Error objects contain buffers"
When I receive an error object, his `content` property is of type buffer instead of string
Do you think it is linked to the previous PR I did?

[2017-09-25 21:53] lexoyo commented on #102
I'll fix it, sorry

[2017-09-25 21:53] #102 closed

[2017-09-26 17:24] JbIPS commented on #100
If we want to stick to the Node FS API, we should do it after getting the listing. But I have to admit that would generate a lot of calls...

I'm always wondering about a plugin/extension system, maybe that could be the first use case !

[2017-09-26 17:49] lexoyo opened #103 "Error codes"
Following our discussion: unifile should return error status (not logged in, 404, server error...) + the text which is currently returned

If you give me instructions on how to do this I probably will

[2017-09-26 18:20] JbIPS commented on #103
What I had in mind:
* Create a new error class: `class UnifileError extends Error`
* Add an error code to it (maybe stick with standard HTTP code, 401 if not logged in, 500 by default and so on)
* Replace error string by `new UnifileError(401, "You must be logged in")`

What do you say?

[2017-09-26 18:26] #92 closed

[2017-09-26 18:26] #94 closed

[2017-09-27 02:57] lexoyo commented on #103
Great! It would cover my use case
I'll see if I can do this soon

[2017-09-27 02:59] lexoyo commented on #100
[what I did here in cloud explorer](https://github.com/lexoyo/CloudExplorer2/commit/2224f1b999e0135994413d5e35b8f31ffc2563cf#diff-84f33654499d3ccc0e6dbe58280b4667R88) for now seems good to me after all
[code]

[2017-09-27 04:30] #100 closed

[2017-09-27 04:48] lexoyo commented on #103
If we follow your philosophy we should also mimic nodejs API for errors
https://nodejs.org/api/errors.html#errors_common_system_errors

[2017-10-16 12:42] lexoyo opened #105 "dropbox does not overwrite files"
When I use `writeFile` to write an existing file on Dropbox I have this error returned in the body of dropbox request
[code]
This is a bug right? I can't find where to put the `mode: 'overwrite'` option described here
https://www.dropbox.com/developers/documentation/http/documentation

[2017-10-16 12:54] JbIPS commented on #105
Yes it is ! Maybe we should set overwrite to be the new default. Or use flags as in `Fs`? But this would change the API :/

[2017-10-16 13:13] lexoyo commented on #105
Do you know where I should add the `mode: 'overwrite'`? I tried but did not find the right spot

[2017-10-17 10:08] JbIPS commented on #101
Tough question... I understand the potential need behind pagination (since most of the services behind Unifile use it) but I fear we would drift even farther from the `Fs` API.

Could you provide an actual use case ? Thank you

[2017-10-17 12:39] JbIPS opened #108 "Minor tweaks"
* [ ] Make configuration into fast properties by removing prototype (or `Object.create(null)`
* [ ] Make info [`frozen`](http://devdocs.io/javascript/global_objects/object/isfrozen)
* [ ] Remove `delete`

[2017-10-17 12:45] JbIPS commented on #95
About the credentials in the URL, it's actually not from Unifile. If you used my sample server, it says [here](https://github.com/silexlabs/unifile/blob/master/samples/public/ftp_login.html#L10) to send the data with `GET` (I shouldn't be doing that). By all means, use `POST`!

To retrieve the error, just add `.catch()` to the login method. You can look at the [tests](https://github.com/silexlabs/

[2017-10-17 12:46] #95 closed

[2017-10-17 16:15] JbIPS opened #109 "Should `unifile.connectors` be private?"
I was wondering about it. You're not *supposed* to read it and you should use `.use()` to register it.

But is there a use case I missed? Does your project need it? Let me know!

[2017-10-18 14:12] lexoyo commented on #109
I think that I don't use it

[2017-10-18 14:15] lexoyo opened #110 "remove webdav from dependencies"
webdav is not used a lot and I think it should be removed from unifile dependencies
the documentation would make it clear how to add it with `npm i` and it would remove a strange dependency to `libc`

[2017-10-19 12:40] JbIPS commented on #109
Alright, I'll make it private

[2017-10-19 12:40] #109 closed

[2017-10-19 12:47] #110 closed

[2017-10-20 19:20] lexoyo opened #112 "npm dependencies versions"
We shiould use an exact version for our modules in package.json
I just had a module breaking my build

[2017-10-20 22:21] JbIPS commented on #112
Which one? I'm not very fond of fixed version but maybe we could ship a package-lock.json file with our releases.

[2017-10-23 13:14] lexoyo opened #114 "Dropbox: missing required field 'async_job_id'"
Hello
When I delete a folder from Dropbox I have this error: `missing required field 'async_job_id'`
Do you know where it comes from?

[2017-10-23 13:32] lexoyo commented on #112
Mime, see this commit
https://github.com/silexlabs/unifile/commit/8ec996bf33653af2d99b760d5455abf6dacbbb1e

👍

[2017-10-26 03:23] JbIPS commented on #114
Never saw that, it must be something special for big file.

I actually use those ids for batch job, maybe you can use some functions there.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-10-26 03:33] JbIPS commented on #112
Something weird happened. I'm the one who installed a new major on `mime` on commit f942a4769efea214f702e8bcb995d053279cde6. I missed Dropbox and since it's not tested enough, it slipped through.

Why did I failed.on your hand and not on CI...I've no idea

[2017-10-26 08:23] lexoyo commented on #114
it is when I delete a folder

[2017-10-27 11:11] FTwex opened #115 "Openstack connector"
What do you think about using an openstack connector ?

We could build one or use [pkgcloud](https://github.com/pkgcloud/pkgcloud) which provide access to multiple object storage plateform : Amazon, Azure, Google, HP, Openstack and Rackspace.

[2017-10-27 13:38] lexoyo commented on #115
a first integration of pkgcloud could be to provide S3 service in unifile

[2017-10-27 14:16] JbIPS commented on #115
I'm always open to new connector!

About the lib, its API lacks some functions we'll need to implements Unifile interface (like `.stat()`) but we could use it for the rest of the API.

@FTwex, would you like to try? 😉

[2017-10-27 14:45] FTwex commented on #115
Otherwise we may use the official [AWS SDK](https://github.com/aws/aws-sdk-js)
The problem is that it's for all AWS services so it's not lightweight...but with that we have all the methods for Unifile interface (including stats)

[2017-10-27 14:52] JbIPS commented on #115
Yes that's another approach. My favorite is the REST API so we have exactly what we want with no extra weight.

[2017-10-27 14:54] FTwex commented on #115
Ok they have an [REST API](https://docs.aws.amazon.com/AmazonS3/latest/API/Welcome.html)
I could implement it directly without the sdk

[2017-10-27 15:08] FTwex commented on #115
Should I build this new connector as a new package (separate repo like silexlabs/unifile-webdav) or as Unifile lib?

[2017-10-28 10:32] lexoyo opened #116 "Unsupported batch action: stat"
Hello
The batch method in Dropbox service does not implement the stat action
Is this on purpose or something missing?
Thx

[2017-10-28 12:15] lexoyo commented on #105
Hi
I tried the default setting as well as the "writeMode: 'overwrite'" setting and it still does not overwrite files
Could you confirm it works on your side please?

[2017-10-28 15:51] lexoyo commented on #105
it looks like it doesn't work in batch only

[2017-10-28 20:02] lexoyo commented on #103
With `fs`, when one try to delete a non-empty folder it throws this error: `"errno":-39,"code":"ENOTEMPTY","syscall":"rmdir","path":"/home/lexoyo/tmp/publish"`

Should dropbox service do the same?

[2017-10-28 20:03] lexoyo commented on #103
Or maybe fs should remove the folder recursively

[2017-10-29 00:21] JbIPS commented on #103
That's a difficult question since I'm mot very fond of `fs` API, but it's based on Unix so we should probably follow it.

On the other hand, I think connectors should implement a `recursiveDelete()`-ish function.

[2017-10-29 00:24] JbIPS commented on #116
I didn't imagine it could be used but I'm not opposed to it. Now that I think of it it could be great for a listing view, but is it optimize in a connector? If the batch only calls n times the API, there is no gain in using the batch.

[2017-10-29 00:28] JbIPS commented on #115
Since you're the creator of this lib, I think you should keep it under your account.

But please make a PR in Unifile Readme to link to your project 😉

[2017-10-29 09:03] lexoyo commented on #116
In fine I ended up using Promise.all which is fine, but the API should probably implement all the methods in batch? Not sure

[2017-10-29 13:33] JbIPS commented on #116
At the beginning I only implemented batch functions that could be optimized by one of the connector. If using regular collection flow is as optimized I don't see the use of reimplementing it in batch.

Do you?

[2017-11-02 09:16] lexoyo commented on #114
and a file too

[2017-11-02 09:22] lexoyo opened #119 "Multiple files upload"
With github service, if I upload multiple files it throws an error since the tree has been modified
Will it work with batch? (I don't think so)
How am I supposed to do this, with writeFile and one file after another?

[2017-11-02 12:22] JbIPS commented on #119
Actually, batch was created for this very reason! It applies all.the change on the tree before committing it.

Give it a try!

[2017-11-02 20:16] lexoyo commented on #119
I will
Thank you

[2017-11-02 20:16] #119 closed

[2017-11-04 16:25] lexoyo commented on #114
and I suspect that it happens also when I call write file with batch too

[2017-11-06 17:22] JbIPS commented on #114
I created a PR to fix that. It works on my machine but I'm not in very good conditions, could you try on yours? If it works too, merge it 😉

[2017-11-08 16:48] lexoyo opened #122 "Gitlab connector"
Since we have a Github connector, I would love a Gitlab connector
Note that this means that you will maintain it in time, it is not a one time development

[2017-11-08 22:15] JbIPS commented on #122
Good idea, I thought about that today since I was considering moving to GitLab and saw GitLab Pages in the feature list. I'll have to have a look at their API

[2017-11-08 22:17] JbIPS commented on #112
Closing it since it looks like the problem came from an hazardous merge rather than a npm dependency

[2017-11-08 22:17] #112 closed

[2017-11-09 09:47] JbIPS commented on #122
[This](https://docs.gitlab.com/ce/api/commits.html#create-a-commit-with-multiple-files-and-actions) filled me with joy 😄

[2017-11-09 14:58] #105 closed

[2017-11-09 15:08] lexoyo commented on #114
oups, i saw your message too late
now it says
`Error in unifile Error in call to API function "files/upload_session/finish_batch": request body: entries.commit.mode: missing '.tag' key`

[2017-11-10 00:25] lexoyo commented on #122
Is it better than github's ?

[2017-11-10 07:10] JbIPS commented on #122
It's way easier! With GitHub's I need five calls to do that

[2017-11-11 16:04] lexoyo commented on #114
just a reminder, the dropbox batch issue is still here
do you reproduce the new error ?

[2017-11-11 21:01] lexoyo opened #123 "Using unifile in Silex"
Hello
For Silex publication process, I use batch to push a lot of changes at once
For github I have the following error, do you have an idea of what it could come from, or is there something I could do to get you more useful info about the error?
Not sure if it is on my side or not
[code]

[2017-11-17 09:14] JbIPS opened #124 "Google Drive Connector"
As demanded by @nk932714 on https://github.com/silexlabs/CloudExplorer2/issues/24

[2017-11-17 09:55] JbIPS opened #125 "Use Buffer for file input"
As we use Buffer when reading a file, we should let the possibility to use a Buffer when writing a file (in batch too).

[2017-11-17 11:11] lexoyo opened #126 "Batch FTP cannot overwrite"
Hello
When I publish in Silex to FTP, using unifile's batch it works the first time but can not overwrite the second time
Do you think it is something in the FTP connector?

[2017-11-17 11:12] lexoyo commented on #126
This was reported here and I reproduce it locally
https://github.com/silexlabs/Silex/issues/646#issuecomment-341912223

[2017-11-17 13:29] JbIPS commented on #126
Do you have any error outputted?

The [lib](https://www.npmjs.com/package/ftp) we use doesn't mention any issue with overriding but I'll take a closer look.

[2017-11-17 14:02] lexoyo commented on #126
yes I have this error
[code]

[2017-11-17 14:07] lexoyo commented on #101
yes that is right

the use case I had in mind was the "ls" which now displays all your repo or folder, and sometimes it is a huge list... We could load the first items and then when the user scroll load more...

But maybe it is not useful. At least we have to make sure that the ls returns all the files and folders, because if there is a maximum in an API, we could end up listing only the 1st "page

[2017-11-17 14:09] JbIPS commented on #126
Here's the problem. I think setting `recursive` at `true` on `mkdir()` should do the trick.

👍 for using vim 😛

[2017-11-17 14:56] lexoyo opened #127 "FTP stat is wrong"
On my machine, the stat of FTP returns a list of files without the '.' folder, so [`folder` is null here](https://github.com/silexlabs/unifile/blob/master/lib/unifile-ftp.js#L167)

[2017-11-17 16:29] lexoyo commented on #126
This issue was due to this bug
https://github.com/silexlabs/unifile/issues/127

[2017-11-17 16:29] #126 closed

[2017-11-19 13:48] lexoyo commented on #114
So this should be fixed now that #120 is merged? even the "missing '.tag' key" ?

[2017-11-21 23:17] JbIPS commented on #114
I reproduced the issue and fix it on a branch. It will be soon ready to merge to close this issue.

[2017-11-21 23:37] lexoyo commented on #114
Great!

[2017-11-23 19:27] lexoyo commented on #103
Can you confirm @JbIPS that is missing for most connectors (all but github)
* recursive delete like fs does
* use [UnifileError and BatchError](https://github.com/silexlabs/unifile/blob/master/lib/error.js#L6) to throw errors (e.g. "path not found")

[2017-11-23 20:58] JbIPS commented on #103
I'm not sure of what you're saying but

`fs` doesn't do that, `github` do and I think `dropbox` too (to be tested)

I'm implementing that in `dropbox` right now

[2017-11-24 09:02] lexoyo commented on #103
My bad
Then I think we should not stick to fs for this behavior and make it recursive for every service, what do you think? Or add the recursiveDelete method as you suggested?

[2017-11-24 11:01] JbIPS commented on #103
I figured out yesterday it would be very difficult to constrain GitHub and Dropbox to **not** remove a non-empty folder. So, for coherence sake, maybe Fs should do it too.

Maybe we should have a 'compatibility mode' (default to `false`) in `fs` constructor that would enforce that. When `false` the `rm` would remove an entire folder empty or not.

Would that be OK with everyone?

[2017-11-24 23:32] #114 closed

[2017-11-25 00:12] JbIPS opened #129 "Switch from Codacy to Coveralls"
Codacy looks like it's broken so we should switch to Coveralls

* [x] Uses [node-coveralls](https://github.com/nickmerwin/node-coveralls)
* [x] Links to [Coveralls.io](https://coveralls.io/repos)

[2017-11-25 18:44] lexoyo opened #130 "Accents and Dropbox's writeFile"
I use accents in a string like `La France Généalogique` and I pass it to writeFile to write the string to a file. It works well with the fs connector but it does nothing with the Dropbox connector: it does not write anything and it does not fire an error...

[2017-11-25 18:51] JbIPS commented on #130
You shouldn't use accents! Please remove them.

Seriously, is it the filename or the content? I'll take a look on the encoding method in Dropbox.

Ideally, could you write that in the Dropbox UT? Even if you let it failing.

Thank you

On November 25, 2017 7:44:13 PM GMT+01:00, Alex Hoyau <notifications@github.com> wrote:

[2017-11-25 19:01] lexoyo commented on #130
The content
I did not test accents in file names

[2017-11-25 19:01] lexoyo commented on #130
JB is huge!!

[2017-11-25 19:03] lexoyo opened #131 "Batch and overwrite in dropbox"
Buenas notches senior
When I use batch to write a file in dropbox, it does not overwrite an existing file, and does not throw any error
[code]

[2017-11-26 13:53] JbIPS commented on #130
That's weird, I cannot reproduce it in the test (see https://github.com/silexlabs/unifile/commit/18bfb895810738979fb7bce40b191f455f027218).

Could you give me more precision or a sample of your program?

[2017-11-26 14:04] #129 closed

[2017-11-26 14:11] lexoyo commented on #130
It is the same code as the example here
https://github.com/silexlabs/unifile/issues/131

And the full code is in silex here
https://github.com/silexlabs/Silex/blob/develop/dist/server/Publisher.js

I will test your test code but if you have any idea on how to fix this let me know

[2017-11-26 14:14] JbIPS commented on #130
So you're calling it via the `batch` interface?

[2017-11-26 14:16] lexoyo commented on #130
Yes

[2017-11-26 22:25] #131 closed

[2017-11-26 22:25] #130 closed

[2017-11-26 22:31] JbIPS commented on #127
Could you give more context?

* Which FTP server are you talking about? On which OS?
* Could you send me the output (i.e. the list of files) of the request?

Thank you

[2017-11-26 22:34] JbIPS commented on #115
Hello @FTwex, just checking on you 😃 ! How is it going? Do you need any help?

Let me know if I can be of any assistance.

[2017-11-26 22:35] JbIPS commented on #123
Did you reproduce this issue lately?

[2017-11-26 23:18] lexoyo commented on #130
Thank you!

[2017-12-01 09:38] JbIPS opened #134 "Accented char in file name error with Dropbox"
Due to the filename passed in the header of the request, UTF-8 char are not allowed. When setting the header of the request, we should convert them all to URL-safe chars.

Still interested in fixing it @zurukgit ?

[2017-12-01 10:45] SouroucheB commented on #134
Fixing is my duty dude ! Let me handle that :) !

[2017-12-02 15:30] lexoyo opened #135 "FTP error is wrong"
When the FTP service can not create a folder (mkdir) then on the front end the error is "unknown error" even though the error returned by the FTP library is "Error: Create directory operation failed."

This is a minor bug but errors are probably not handled well

[2017-12-02 15:37] lexoyo commented on #127
Hi
I just started with a fresh install of fedora which is shipped with vsftpd
Right now FTP is not working, waiting for this fix https://github.com/silexlabs/CloudExplorer2/pull/34
But even with the fix, nothing is working locally but the listing of folders... No writing at all nor creating folders and it is unclear what is happening
I'll need testers as soon as the fix is merged

[2017-12-02 23:50] lexoyo commented on #127
With an FTP from OVH, it seems to work but when I upload an image and then download it (all with CE), it is corrupted

Can you reproduce?

[2017-12-02 23:52] lexoyo commented on #127
Also delete a non empty folder still doesn't work

[2017-12-03 00:00] lexoyo commented on #127
And to stick with the stat issue, I reproduce the stat bug with OVH mutu

[2017-12-03 01:36] lexoyo commented on #123
I tried again to publish on github and it does the same
Feel free to test (preprod or Silex local)

[2017-12-03 10:37] lexoyo commented on #127
to summerize

FTP ovh mutu
* ls works
* write files do not work
* create folders do not work
* stat do not work
* please test upload etc.

Thank you

[2017-12-03 23:17] JbIPS commented on #127
I had some problems on WIndows with the current FTP client (cf https://github.com/mscdex/node-ftp/issues/126) so I switch to [JSFTP](https://www.npmjs.com/package/jsftp) and I'm still adjusting the code to this new lib.

[2017-12-05 10:34] JbIPS commented on #134
How is it going? Did you make any progress? Can I help?

[2017-12-10 18:47] #134 closed

[2017-12-10 23:15] JbIPS commented on #127
Closed by #136

[2017-12-10 23:15] #127 closed

[2017-12-10 23:16] JbIPS commented on #135
Closed by #136

[2017-12-10 23:16] #135 closed

[2017-12-13 22:35] JbIPS opened #139 "Create unique names for folders and files in tests"
We should use the same technique as in Fs tests that append a timestamp behind filenames and folder names so we could launch concurrent tests at the same time.

Especially, since I try to use AppVeyor to test the lib with Windows, it runs at the same time with Travis, which create errors.

[2017-12-14 20:55] #123 closed

[2018-02-09 13:59] lexoyo opened #141 "Skip auth for FS"
Hi

A question here about something very specific

In CE2, this is what happens today to enter the "fs" service:
* the user clicks, I open a blank window right away (needed to avoid popup blocker of the browser)
* CE2 call "/authorize" and it returns no URL
* I close the window and continue

Do you want me to add a "skipAuth" attribute to the services info so that we know from the start that it is

[2018-02-09 14:03] lexoyo commented on #141
In fact, this is what I would expect in the response to '/services'
https://github.com/silexlabs/unifile/blob/master/lib/unifile-github.js#L138

[2018-02-09 16:28] lexoyo commented on #141
Ok, so let's recap, help wanted @JbIPS

* I did this to close the popup afterwards when there is no auth URL returned by "/authorize"
  https://github.com/silexlabs/CloudExplorer2/pull/48/files
* I have added the missing info concerning each service here, is this the way to go? If it is we can close this issue
  https://github.com/silexlabs/CloudExplorer2/pull/50
* now we would need to do this: Do

[2018-03-14 22:32] JbIPS commented on #125
Closed by fd4fe61de6f580ca4c51f322aa8e0e92bbea5f9c

[2018-03-14 22:32] #125 closed

[2018-03-16 23:13] JbIPS commented on #141
Is there still an issue with Unifile?

[2018-03-17 23:51] JbIPS commented on #141
It is http://projects.silexlabs.org/unifile/global.html#ConnectorInfos

[2018-04-06 09:56] lexoyo opened #145 "Delete files and folders bug in CE"
Github service can not delete files or folders in a branch

[2018-04-23 21:44] JbIPS commented on #145
Is that with the current version of Silex? I just tried on [prod](https://editor.silex.me):
* Connect to GitHub
* Create a branch
* Remove branch

No error, branch is no more (nor in CE, nor in GH).

I also tried the same with folder in a branch. Please confirm bug and provide some use case

[2018-04-24 07:38] lexoyo commented on #145
Yes but I'm talking about files and folder in a branch, not branches

[2018-04-24 07:42] lexoyo commented on #145
Here is what i do
![delete-folder](https://user-images.githubusercontent.com/715377/39173015-bd7342a8-47a3-11e8-97c9-1cc9babcc9b3.gif)

And the HTTP calls
![screenshot from 2018-04-24 09-41-24](https://user-images.githubusercontent.com/715377/39173034-c9bccc96-47a3-11e8-9eed-82e1860de0aa.png)

[2018-06-12 07:40] lexoyo opened #147 "Question: best way to create "vhost"-like hosting"
The question is: should I use the new extension system for what I am thinking about

I want to create a service, where my user authenticate and have an ID. They should be able to access a folder on my FTP or amazon storage - list, upload, download files with cloud explorer. Then I will provide them with a subdomain, e.g. {id}.mydomain.com and I want to serve their files on this subdomain.

For the

[2018-08-26 16:14] erojiraiya commented on #77
Hi,
I am getting same error while validating the new custom backup. Also, account backups are not transferred to dropbox. It is strange that system backup is transferred and account backup is not. I do not know where to check for the solution. Please help.

Thank You

[2018-08-26 16:32] JbIPS commented on #147
Yes, I'm thinking of adding the path into the plugin lifecycle so it could be modified automatically.

From your example, you would setup a plugin to convert any path to your absolute one with ID

[2018-08-31 17:45] lexoyo commented on #141
fixed by #68

[2018-10-08 17:48] #12 closed

[2018-10-08 17:48] #76 closed

[2019-01-10 15:15] lexoyo opened #148 "Unifile throws error instead of rejecting Promise"
Hi @JbIPS

I found cases where unifile throws error instead of a "rejected" Promise

For example when you call `unifile.readdir` with a service which does not exist, it throws the error `Error: Unknown connector: fs ` instead of returning Promise.reject with this same error

Am I mistaken? Is this the intended behaviour?

Thx!

[2019-01-10 16:36] JbIPS commented on #148
You're right, it shouldn't. I think it's because it fails before the async call but it should be wrapped in a Promise for consistency.

[2019-03-14 07:01] rlingineni opened #149 "Typescript Support?"
Planning on making this library `typescript` and as a common interface so that everything is supported. I looked at a lot of other ones, and this is the cleanest and most friendly to extend. I could do some cleaning up. I can also update to ES6 syntax with async/await - for at least a few of the ones I can do.

It wouldn't change the main repo other than the fact that you'll have a new `ts` folder

[2019-03-14 17:03] JbIPS commented on #149
Hello @rlingineni,

I was planning to drop Bluebird for async/await but I won't mind if you do it :smiley:. For TypeScript, do you plan on only writing the types (to import it in TS codebase) or rewrite the whole thing in TS?

For those 2 things, we need to think retro-compatibility. For ES6, we'll do a new major version. And for TS, well, that will depends on your goal!

Anyway, very excited to h

[2019-03-14 18:18] lexoyo commented on #149
:+1: for typescript types and S3
I'd use them in Silex

[2019-03-31 05:30] lexoyo opened #150 "build fails?"
"too many file operations"
https://travis-ci.org/silexlabs/unifile

not sure what it is or if it is important but it looks bad on the home page ;D

[2019-03-31 05:31] lexoyo commented on #149
Hi @rlingineni
I am 90% done with porting Silex to typescript (getting ridd of google closure, splitting silex in smaller projects)
Do you need help for the typing?

[2019-03-31 07:56] JbIPS commented on #150
Yes, I plan to isolate GitHub connector in a plugin to avoid that

[2019-03-31 19:00] rlingineni commented on #149
Hey @lexoyo , I was working on a project which had this dependency, but it got abandoned. If I have time in the future, I will definitely revisit this. I'm sorry to have raised hopes here

[2019-03-31 23:27] lexoyo commented on #149
No problem ! I'll tell you when I'm on it
If you have time to just tell me what you think it would be great
We will see

On Mar 31, 2019, 2:00 PM, at 2:00 PM, Raviteja Lingineni <notifications@github.com> wrote:

[2019-08-01 20:11] lexoyo opened #152 "strange error message"
in some cases, the session contains `{ state: '***********', account: {} }`
i believe it is when a token has expired
in this case an error is thrown:
[code]
that's as far as i went in debugging

[2019-08-01 22:28] JbIPS commented on #152
Do you have a line number?

[2019-08-02 04:07] lexoyo commented on #152
I believe it is in getInfo in my case but it may be in all methods too?

[2019-08-02 04:07] lexoyo commented on #152
And maybe with other services too

[2019-08-06 21:39] lexoyo commented on #148
Same for writeFile, cf CloudExplorer2 router.js file, there is a comment about that

[2019-08-25 23:05] JbIPS commented on #108
Outdated

[2019-08-25 23:05] #108 closed

[2019-08-25 23:09] JbIPS opened #153 "Change FTP client"
The currently used jsftp is not maintained anymore (2 years without a commit) so I think we should use a more up to date one.
This will at least resolve some issues I have with Streams and maybe others that @lexoyo raised.

I think I'll go with [basic-ftp](https://github.com/patrickjuchli/basic-ftp) unless someone has a better idea.

[2019-09-02 06:03] JbIPS commented on #152
Do you remember the connector you were using at that time? Was it GitHub?

[2019-09-02 12:33] lexoyo commented on #152
I don't remember but I guess we should add a unit test with an empty account in the session

[2019-09-02 16:21] #153 closed

[2019-09-13 04:56] patrickjuchli opened #158 "Breaking changes coming in basic-ftp 4.0.0"
Author of basic-ftp here, a little heads-up: The new version 4.0.0 of basic-ftp will have breaking changes regarding permissions and date handling. Please read the [Changelog](https://github.com/patrickjuchli/basic-ftp/blob/master/CHANGELOG.md#400) for more info.

[2019-09-20 15:10] lexoyo opened #159 "Problems with github scopes"
Hello
Just to keep track of this, in my previous fix to be able to change github scopes (#154) there are these things I am not sure about

1- [in this line](https://github.com/lexoyo/unifile/blob/0169189a7fc71f0d05d10ee54c6454a9e0621aa6/lib/unifile-github.js#L974), I am not sure GH API uses the `X-OAuth-Scopes` but if it does we probably want to change it to `this.permission`? for now it works for

[2019-09-20 15:13] lexoyo opened #160 "[feature request][github] Support organization"
I would love github connector to support organization repos. I am not sure how thoug...

1- add the org or user as first folder in the path, but it would be wired to have path like /github/silexlabs/ls
2- we could have a "github orgs" connector and a "github user" connector

other ideas?

[2019-10-24 16:31] lexoyo opened #162 "Feature request: search cloud services"
[Following this discussion in CE2 repo](https://github.com/silexlabs/CloudExplorer2/issues/88), I create an issue here for a new unifile feature

As services like [dropbox offer an API to search files and folders](https://www.dropbox.com/developers/documentation/http/documentation#files-search) (names and content and metadata), I would like to add a search box in CE2 for such services (not for the

[2019-10-24 17:59] JbIPS commented on #162
You know my position on API that are not replicated on **all** services :blush:

But GitHub must have something like that and `fs` has `find`. For other, we could have a more manual approach with warnings about the slowness of the operation.

[2019-10-24 18:31] lexoyo commented on #162
Yes why not... I guess it is not only the time it takes but also we can not find content of files with ftp for example

[2019-10-24 18:32] lexoyo commented on #162
I guess another solution would be to create a separate project just for search? How would it share auth with unifile?

[2019-10-24 22:26] JbIPS commented on #162
I forgot about content and metadata. That's a problem...

Does it have to do that? I mean it's easier to limit the search on Dropbox than to do it in FTP.

And regarding another project, the only solution would be to clone unifile-dropbox and use it directly without the Unifile layer. But I'm not very fond of this solution :confused:

[2019-10-24 22:28] JbIPS commented on #162
And to be honest, we _could_ do it in FTP, by getting a file content and scanning it. That would be huge and heavy, but doable.

[2020-10-25 19:53] lexoyo opened #172 "virtual files format"
Would it be interesting to use this?
https://github.com/gulpjs/vinyl

[2020-11-05 11:36] JbIPS commented on #172
Seems to me it's more of an alternative to unifile rather than something we could plug in.

Do you had any use cases in mind?

[2020-11-09 08:58] lexoyo commented on #172
I was referring to just this part `Vinyl is a very simple metadata object that describes a file.`

But the rest is interesting too !

not really, just doing my usual research on what's new in the open source tech world :)

i also follow this very interesting tool in go
https://rclone.org/

[2020-11-09 18:24] JbIPS commented on #172
I remember rclone! About Vinyl, yes we could try to look like their metadata but from what it looks like, it has less information that Unifile already have.

[2021-01-07 10:40] lexoyo opened #174 "switch to travis-ci.com"
It looks like very soon our unit tests will not run anymore
maybe we should simply use github actions

[2022-03-30 12:33] lexoyo commented on #174
i switched to github actions

[2022-03-30 12:35] lexoyo commented on #172
Also interesting
https://www.npmjs.com/package/s3proxy

I guess unifile should have an S3 compatible API?

We could use https://github.com/minio/minio-js as a client sdk